.tilesWrapper{
    position: absolute;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
}



.tile{
    width: 70px;
    height: 70px;
    border: solid #484444 4px;
    background: linear-gradient(#04b9837a, #27bbb173);
    color:white;
    font-family: Inter;
    font-weight: bold;
    font-size: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.gold{
  background: linear-gradient(rgb(255, 217, 0), rgb(182, 158, 23));
}

.denied {
  animation: shake 0.4s ease;
  border: solid rgb(94, 2, 2) 4px;
  background: linear-gradient(rgb(160, 2, 2), rgb(134, 27, 27));
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  input {
    font-size: 20px; /* Make input more tappable */
  }

  .tilesWrapper{
    position: absolute;
    height: 62vh;
    width: 95%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    gap: 15px;
  }

  .tile{
    margin-bottom: 0px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
}


@keyframes bossShift {
  0% { background-color: #000000d5; }
  50% { background-color: #797979; }
  100% { background-color: #000000d7; }
}


.bossFight{
  animation: bossShift 5s infinite;
}