.backdrop{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.623);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lostBody{
    background-color: #E8E8D7;
    min-width: 350px;
    min-height: 440px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    border-radius: 25px;
    padding: 15px 10px 25px 10px;
    z-index: 150;
    position:relative;
}

.blueButton{
    background-color: #1C3363;
    color: #e0e0d5;
    font-family: Inter;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border:none;
    border-radius: 12px;
    font-size: 1.2rem;
    width: 10rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    position:absolute;
    bottom: 15px;
}

.lostBody h2{
    font-size: 2.5rem;
    line-height: normal;
    text-align: center;
    width: 65%;
}

.lostBody h1{
    background-color: #1C3363;
    margin: 0px;
    padding: 5px 10px 5px 10px;
    color: #e0e0d5;
    border-radius: 15px;
    font-family: Inter;
    font-weight: normal;
    font-size: 1.25rem;
    height: 25px;
    text-align: center;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.playerWC{
    padding: 35px 10px 25px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height:170px;
    gap:10px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.statWrapper{
    background-color: #1C3363;
    margin: 0px;
    padding: 5px 10px 5px 10px;
    display:flex;
    gap: 5px;
    align-items: center;
    height: 35px;
    border-radius: 15px;
}

.statContent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.statContent p, .statContent h4{
    margin: 0px;
    line-height: 15px;
    font-family: Inter;
    color: #e0e0d5;
}

.statContent p{
    font-size: 0.7rem;
    font-weight: normal;
}

.lostBody h2{
    margin: 0px;
    line-height: 35px;
}